.content-container{
    width: 100%;
    min-height: calc( 100vh - 180px);
    padding-top: 20px;
    padding-bottom: 20px;
}
.resumo{
    width: calc(100% - 40px);
    min-height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(43, 43, 43, 0.555);
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    margin-left: 20px;
    margin-right: 20px;
    transition: .5s all;
}
.resumo .img-container{
    position: relative;
    height: 300px;
    width: 180px;
    margin: 20px 20px;
}
.resumo .img-container img{
    position: absolute;
    height: 280px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
}
.resumo .text-resumo{
    width: calc(100% - 240px);
    margin: 20px;
}
.resumo .text-resumo h1{
    font-size: 2rem;
}
.resumo .text-resumo p{
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

.content > section{
    
    background-color: rgba(43, 43, 43, 0.555);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px;

    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 5px 5px 10px black;

}
.content > section > .title{
    text-align: center;
    min-height: 40px;
    min-width: 100px;
    
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    background-color: #161616;
    box-shadow: inset 1px 1px 2px black;
}
.content > section > .title a{
    border-radius: 10px;
    min-height: 50px;
    background-color: black;
    font-size: 1.2rem;
}
.content > section > .text{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.content > section > .text,
.content > section > .container  > .text{
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}
.content > section > .text .ul-links,
.content > section > .container > .text ul{
    list-style-position: inside;
}
.content > section > .text .ul-links li a{
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.829);
    font-family: Arial, Helvetica, sans-serif;
}
.content > section > .text .ul-links li a:hover{
    text-shadow: 0 0 5px white;
}
.skill{
    display: inline-block;
    width: calc(100% - 40px);
    
}
.skill .container{
    min-height: 200px;
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
}
.skill > .container > .text,
.skill > .container > .img-container{
    width: 50%;
}
.skill > .container > .img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
}
.skill > .container > .img-container img{
    height: 400px;
    border-radius: 15px;
}
.skill > .container > .img-container.hb-comportamental img{
    height: 300px;
    border-radius: 15px;
}
.skill > .container > .text ul li ul{
    list-style-type: none;
    list-style-position: inside;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px auto;
}
.tool-container{
    min-width: 80px;
    min-height: 100px;
    text-align: center;
    margin: 0 5px;
}
.tool-container > .title{
    position: relative;
    box-shadow: inset 2px 2px 2px #161616; 
    background-color: rgba(255, 255, 255, 0.856);
    color: black;
    height: 30px;
    width: 100%;
    border-radius: 10px;
    display: inline-block;
}
.tool-container > .title > h1{
    position: absolute;
    font-size: 1rem;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}
.tool-container.sqlalchemy > .title > h1{
font-size: 12px;
}
.tool-container.vscode > .title > h1{
    width: 100%;
}
.tool-container > .img-container{
    width: auto;
    margin-top: 10px;
    
}
.tool-container > .img-container > img{
    min-height: 70px;
    width: 70px;
    border-radius: 25%;
    
    transition: .6s all;
    
    background-color: rgba(255, 255, 255, 0.856);
    box-shadow: none;
    filter: none;
    color: black;
}
.tool-container:hover > .img-container > img,
.tool-container:hover > .title{
    box-shadow: inset 2px 2px 2px #161616;
    background-color: rgba(43, 43, 43, 0.555);
    color: white;
}
@media screen and (max-width:840px){
    
    .skill .container{
        flex-direction: column-reverse;
    }
    .skill .container > .img-container,
    .skill .container > .text{
        width: 100%;
        border-radius: 20px;
    }
    .skill .container > .img-container{
        margin-top: 10px;
    }
}
@media screen and (max-width:525px){
    .resumo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin:auto 20px 20px 20px;
        transition: .5s all;
    }
    .resumo .text-resumo{
        width: calc(100% - 40px);
        padding: 0;
        margin: 0;
        margin-bottom: 20px;
        
    }
}
@media screen and (max-width:300px){
    .content > section > .title{
        min-width: 100px;
        min-height: 20px;
    }
}
@media screen and (max-width:270px){
    .resumo .text-resumo,
    .content > section > .title a h1,
    .content > section > .text,
    .content > section > .container  > .text{
        font-size: 18px;;
    }
}