.footer-container {
  min-height: 100px;
  width: 100%;
  background-color: rgb(19, 18, 18);
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.footer-text {
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-text > h1 {
  color: white;
  font-size: 1.3rem;
  height: 30px;
  margin: 0;
  font-family: "Lobster", cursive;
  text-align: center;
  letter-spacing: 3px;
}
.footer-icons {
  font-size: 2rem;
  display: flex;
  height: 3rem;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.footer-icons a {
  margin-top: 10px;
  text-decoration: none;
  color: white;
}
.footer-icons > .icon {
  margin-left: 5px;
  margin-right: 5px;
}
.footer-icons img.icon {
  width: 30px;
}
.copyright {
  font-size: 2rem;
}
.footer-icons > :not(img):hover {
  font-size: 3rem;
}
.footer-icons img.icon:hover {
  width: 40px;
}
@media screen and (max-width: 400px) {
  .footer-container h1 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 270px) {
  .footer-container h1 {
    font-size: 5vw;
  }
}
